{% extends base_template %}
{% block title %}Change password - {{ site.site_name }}{% endblock %}
{% block dash_content %}
<div class="page-head"><h1>Change password</h1></div>
<div class="surface p-4" style="max-width:560px">
  <form method="post" novalidate data-once>{% csrf_token %}
    {% include "partials/form_errors.html" %}
    {% include "partials/field.html" with field=form.old_password %}
    {% include "partials/field.html" with field=form.new_password1 %}
    {% include "partials/field.html" with field=form.new_password2 %}
    <button class="btn btn-primary" type="submit">Update password</button>
  </form>
</div>
{% endblock %}
